ipykernel
pandas
numpy
matplotlib
plotly
seaborn
imblearn
scikit-learn==1.5.2
pymongo
from-root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
azure-storage-blob
-e .